body {
    background-image: url("img/background.png");
}

.navbar-nav {
    display: flex;
    list-style-type: none;
    padding: 2px;
    margin: 2px;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: white; /* Change text color to white on hover */
}

.nb {

    background-color: red;
    font-family: Luminari;

}

.nb a{
    color: #EBD396;

}
